<!doctype html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <link type="text/css" rel="stylesheet" href="css/main.css" />
</head>
<body>
    <div id="container">
        <header>
            <div class="vert-center">
            Coffee House
            </div>
        </header>
        <div id="login-form">
            <form action="/login">
                <input name="username" id="username" type="text" />
                <input name="password" id="password" type="password" />
                <input name="submit-login" type="submit" value="Sign In" />
            </form>
        </div>
        <div id="subcontent">
            {{ content }}
        </div> 
    </div>
</body>
</html>